<h3 class="text-center">Alfred State Post Board</h3>

<% @posts.each_slice(2) do |post| %>
<div class="row">
<% @posts.each do |post| %>

<div class="col-4">
<div class="card bg-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><%= post.title %></div>
  <div class="card-body">
    <p class="card-text"><%= truncate(post.body, length: 150) %></p>
    <hr>
    <%= link_to "Read More", post_path(post), :class => 'btn btn-primary', :style => 'display:block;' %>
  </div>
</div>
</div>

<% end %>

</div>
<% end %>

